.body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container{
  flex: 1;
}
.add-btn{
  background-color: #fe424d !important;
  border: none !important ;
}
.navbar {
  height: 5rem;
}

.fa-compass {
  color: #a72f45;
  font-size: 2rem;
}

.nav-link {
  color: #0a0a0a !important;
}

.f-info-links a:hover {
  text-decoration: underline;
}

.f-info-links a {
  text-decoration: none;
  color: #222222;
}

.f-info-links,
.f-info-social,
.f-info-brand {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f-info-social {
  font-size: 1.4rem;
}

.f-info-social i {
  margin-right: 0.5rem;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #ebebeb;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card {
  border: none !important;
  margin-bottom: 2rem;
}

.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text p {
  font-weight: 400 !important;
  color: #0a0a0a;
}

.items {
  text-decoration: none;
}

.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: #ebebeb;
}

/* show page */
.show-img{
  height: 30vh;
}
.btns{
  display: flex;
  
}